@charset "utf-8";

.align_left {
  float: left;
  margin-right: 40px;
}
.align_right {
  float: right;
	margin-left: 40px;
}
.align_center {
	clear: both;
	display: block;
	margin: 0 auto;
  text-align : center;
}

.hidden {
  display : none !important;
}
