@charset "utf-8";

#main_menu {
    text-align: center;
}

#main_menu ul {
    list-style: none;
    display: inline-block;
}

#main_menu li {
    float: left;
}

#main_menu ul li a {
    background: #111;
    cursor: default;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 50px;
}

#main_menu ul li a {
    cursor: pointer;
}
#main_menu ul li a[href=""],
#main_menu ul li a[data-url=""] {
    cursor: not-allowed;
}

#main_menu ul li.current > a {
    color: var(--color-p);
    background-color: #222;
    border-bottom: 3px solid var(--color-p);
}
#main_menu ul li.semi_current > a {
    color: var(--color-p);
    background-color: #222;
    border-bottom: 1px solid var(--color-p);
}

#main_menu ul li a:hover {
    background: #333;
    color: var(--color-h);
    transform: rotate(6deg);
}

#main_menu ul li ul {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 200;
}

#main_menu ul li:hover ul {
    display: block;
}

#main_menu ul li ul li {
    background: #111;
    display: block;
    float: none;
}

#main_menu ul li ul li a {
    color: var(--color);
}

#main_menu ul li ul li a:hover {
    background: #333;
    color: var(--color-h);
}

#main_menu p {
    clear: left;
}

#main_menu ul li:hover ul li ul {
    display: block;
    position: relative;
}
