@charset "utf-8";

#pokemongo_tb {
    border-width: 3px;
    padding: 0 1em;
    margin: auto;
    border-collapse: collapse;
}
#pokemongo_tb thead th {
    background-color: #333;
    color: #e7dbed;
}
#pokemongo_tb tbody tr.odd td {
    background-color: #222;
}
#pokemongo_tb tbody tr.lucky td {
    color: #fead43;
    font-weight: bold;
}
#pokemongo_tb tbody td {
    padding: 0 1em;
}

#pokemongo_tb .icon {
    width: 1.2em;
    height: 1.2em;
    padding-right: 0.6em;
    background-size: contain;
    display: inline-block;
}
#pokemongo_tb .icon:last-child {
    padding-right: 0;
}
#pokemongo_tb .shiny {
    background-image: url("icon_shiny.png");
}
#pokemongo_tb .trade {
    background-image: url("icon_trade.png");
}
#pokemongo_tb .meet_w {
    background-image: url("icon_meet_wild.png");
}
#pokemongo_tb .meet_f {
    background-image: url("icon_meet_fieldresearch.png");
}
#pokemongo_tb .meet_r {
    background-image: url("icon_meet_raids.png");
}
#pokemongo_tb .meet_g {
    background-image: url("icon_meet_goroket.png");
}
#pokemongo_tb .ball_p {
    background-image: url("icon_ball_p.webp");
}
#pokemongo_tb .ball_s {
    background-image: url("icon_ball_s.webp");
}
#pokemongo_tb .ball_h {
    background-image: url("icon_ball_h.webp");
}
#pokemongo_tb .ball_m {
    background-image: url("icon_ball_m.webp");
}
#pokemongo_tb .ball_pr {
    background-image: url("icon_ball_pr.webp");
}
#pokemongo_tb .ball_ub {
    background-image: url("icon_ball_ub.webp");
}
#pokemongo_tb .txt {
    display: inline-block;
    padding-right: 0.6em;
}
#pokemongo_tb .txt:last-child {
    padding-right: 0;
}
